# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
*output-local.yaml    -text diff
*output-staging.yaml    -text diff
